
<header class="intro-header" style="background-image: url('/images/records.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <div class="homeHeader">
                          <h1 id="itemTitle">New Swap</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
 
   <div class="row">
     <h2 class="subtitles">Your Items for Swap</h1>
     {{#each items}}
      <label>{{this.itemName}}</label>
      <input type="radio" name="userItems" class="userItems" value={{this.id}}>
    {{/each}}
    </div>
      
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 footer">
                    <p>Copyright &copy; SwapShop 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{{!--<h2>Trade Items</h2>
  <ul>
  {{#each tradeItems}}

    <label for="">{{this.itemName}}</label>
    <input type="radio" name="tradeItems" class="tradeItems" value={{this.id}}>
    {{!--<li>
      {{this.itemName}}
      
      <button data-id={{this.id}} class="trade-btn">Trade</button>
    </li>--}}
    
  {{!--{{/each}}
  </ul>

  <button type="submit">Trade</button>
</form>--}}